# Android специфични
android/.gradle/
android/.idea/
android/.kotlin/
android/build/
android/*.iml
android/local.properties
android/gradle.properties
android/.DS_Store
android/captures/
android/.externalNativeBuild/
android/app/build/
android/app/.cxx/

# Бекенд специфични
backend/node_modules/
backend/.env
backend/.env.local
backend/.vscode/
backend/dist/
backend/coverage/
backend/.DS_Store
backend/.nyc_output/

# Общи
.DS_Store
*.log
*.tmp
*.temp
Thumbs.db
.idea/
.vscode/
